In [4]:
import numpy as np
import pandas as pd

import sys
import os

In [5]:
os.getenv("PUIDATA")

'/Users/fbianco/science/Dropbox/UI/PUIdata'

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab2_fb55/IntrotoStats_Table6_1.csv')

In [21]:
df.head()

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown  Female      Psychology   5'4"                Lots
1          Amber     Blonde  Female  Social Science   5'7"         Very Little
2           Paul     Blonde    Male         History   6'1"            Moderate
3    Christopher      Black    Male         Biology  5'10"                Lots
4          Sonya      Brown  Female      Psychology   5'4"              Little

In [16]:
df.shape[0]

(5, 6)

In [17]:
!curl -O https://serv.cusp.nyu.edu/~fbianco/PUI2017/data/IntrotoStats_Table6_1.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   281  100   281    0     0   2127      0 --:--:-- --:--:-- --:--:--  2195

In [24]:
df.Gender.values

array(['Female', 'Female', 'Male', 'Male', 'Female'], dtype=object)

In [25]:
df['Gender'].replace('Female', 0)

0       0
1       0
2    Male
3    Male
4       0
Name: Gender, dtype: object

In [26]:
df.Gender

0    Female
1    Female
2      Male
3      Male
4    Female
Name: Gender, dtype: object

In [27]:
df['Gender'] = df.Gender.replace('Female', 0)

In [28]:
df.Gender

0       0
1       0
2    Male
3    Male
4       0
Name: Gender, dtype: object

In [29]:
df.Gender = df.Gender.replace('Male', 1)

In [30]:
df.Gender

0    0
1    0
2    1
3    1
4    0
Name: Gender, dtype: int64

In [31]:
df

  #Students Name Hair Color  Gender           Major Height Computer Experience
0          Norma      Brown       0      Psychology   5'4"                Lots
1          Amber     Blonde       0  Social Science   5'7"         Very Little
2           Paul     Blonde       1         History   6'1"            Moderate
3    Christopher      Black       1         Biology  5'10"                Lots
4          Sonya      Brown       0      Psychology   5'4"              Little

In [32]:
df.Gender.dtype

dtype('int64')

In [37]:
df.Major.dtype

dtype('O')

In [38]:
df['Computer Experience'].map?

In [ ]:
df['Computer Experience'].map

In [39]:
comp_dict = {'Lots': 3, 'Moderate': 2, 'Little': 1, 'Very Little': 0}

In [42]:
comp_dict['Lots']

3

In [43]:
comp_dict.keys()

['Lots', 'Very Little', 'Little', 'Moderate']

In [44]:
comp_dict.items()

[('Lots', 3), ('Very Little', 0), ('Little', 1), ('Moderate', 2)]

In [45]:
comp_dict.values()

[3, 0, 1, 2]

In [48]:
indx = np.array(comp_dict.values()) == 3

In [52]:
np.array(comp_dict.keys())[indx]

array(['Lots'],
      dtype='|S11')

In [53]:
df.Gender.to_dict()

{0: 0, 1: 0, 2: 1, 3: 1, 4: 0}

In [55]:
comp_dict["Very"] = 4

In [56]:
df['Computer Experience'].map?

In [58]:
df['Comp_Exp'] = df['Computer Experience'].map(comp_dict)

In [59]:
df

,#Students Name,Hair Color,Gender,Major,Height,Computer Experience,Comp_Exp
0,Norma,Brown,0,Psychology,"5'4""",Lots,3
1,Amber,Blonde,0,Social Science,"5'7""",Very Little,0
2,Paul,Blonde,1,History,"6'1""",Moderate,2
3,Christopher,Black,1,Biology,"5'10""",Lots,3
4,Sonya,Brown,0,Psychology,"5'4""",Little,1

In [62]:

def inchestofeet(height):
    feet = int(height.split("'")[0])
    inches = int(height.strip('"').split("'")[1])
    return feet + inches / 12.

In [63]:
inchestofeet("5'4")

5.333333333333333

In [65]:
df.Height = df.Height.map(inchestofeet)

In [66]:
df

,#Students Name,Hair Color,Gender,Major,Height,Computer Experience,Comp_Exp
0,Norma,Brown,0,Psychology,5.333333,Lots,3
1,Amber,Blonde,0,Social Science,5.583333,Very Little,0
2,Paul,Blonde,1,History,6.083333,Moderate,2
3,Christopher,Black,1,Biology,5.833333,Lots,3
4,Sonya,Brown,0,Psychology,5.333333,Little,1