In [10]:
import pandas as pd
import numpy as np
from sklearn import ensemble

In [2]:
titanic = pd.read_csv("train.csv").dropna(subset=["Survived", "Sex", "Pclass", "Age"])

In [3]:
titanic.shape

(714, 12)

In [4]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [5]:
titanic["gender"] = titanic.Sex.map({'male':0, 'female':1})

In [6]:
titanic_short = titanic[["Pclass", "gender", "Age"]].dropna()

In [7]:
titanic_short.values

array([[  3.,   0.,  22.],
       [  1.,   1.,  38.],
       [  3.,   1.,  26.],
       ...,
       [  1.,   1.,  19.],
       [  1.,   0.,  26.],
       [  3.,   0.,  32.]])

In [8]:
titanic[["Survived"]].values.shape, titanic_short.shape

((714, 1), (714, 3))

In [11]:
ensemble.RandomForestClassifier

sklearn.ensemble.forest.RandomForestClassifier

In [12]:
clf =  ensemble.RandomForestClassifier().fit(titanic_short.values, titanic["Survived"])
clf.score(titanic_short.values, titanic["Survived"])

0.88935574229691872

In [93]:
print (((titanic_short.gender.values == 1) & 
        (titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 / 
       ((titanic_short.gender.values == 1) & (titanic_short.Pclass.values == 1)).sum())

0.964705882353

In [95]:
print (((titanic_short.gender.values == 0) & 
        (titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 / 
       ((titanic_short.gender.values == 0) & (titanic_short.Pclass.values == 1)).sum())

0.39603960396

In [101]:
print (((titanic_short.gender.values == 1) & 
        (titanic_short.Age.values < 6.5) & (titanic.Survived.values == 1)).sum() * 1.0 / 
       ((titanic_short.gender.values == 1) & (titanic_short.Age.values < 6.5)).sum())

0.739130434783

In [102]:
print (((titanic_short.gender.values == 0) & 
        (titanic_short.Age.values > 6.5) & (titanic.Survived.values == 1)).sum() * 1.0 / 
       ((titanic_short.gender.values == 0) & (titanic_short.Age.values > 6.5)).sum())

0.179487179487